body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #111111;
  text-align: center;
  background-color: #ffffff; }

@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswaldregular.woff") format("woff"), url("../fonts/oswaldregular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswaldmedium.woff") format("woff"), url("../fonts/oswaldmedium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }

a {
  text-decoration: none; }

img {
  max-width: 100%;
  height: auto; }

.visual-hidden:not(:focus):not(:active),
input[type="checkbox"].visual-hidden,
input[type="radio"].visual-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden; }

input {
  border: 1px solid #cdcdcd; }

input[type="checkbox"], input[type="radio"] {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden; }

.wrapper {
  padding: 0 20px;
  margin: auto;
  overflow: hidden; }

@media (min-width: 768px) {
  .wrapper {
    width: 708px;
    padding: 0 30px; } }

@media (min-width: 1300px) {
  .wrapper {
    padding: 0 40px;
    width: 1220px; } }
